/*Override Datatable*/
.dataTables_wrapper{
    font: 400 13px 'Open Sans', Arial, sans-serif;
    color: #423D3E;
    background-color: #fafafa;
    border: solid #eee 1px;
}
.dataTables_wrapper .top, .dataTables_wrapper .bottom {
    padding: 5px;
}
.dataTables_wrapper .bottom{
    margin-bottom: 80px;
}
.dataTables_wrapper .top:after{
    content: " ";
    display: table;
    clear: both;
}
table.dataTable thead tr:nth-child(1) th, table.dataTable thead tr:nth-child(1) td {
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}
.dataTables_wrapper td .btn-group{
    padding: 0px 13px;
}
.dataTables_wrapper td .btn-group .btn, .dataTables_wrapper td .dropdown-menu li > a, .dataTables_wrapper .form-control{
    font-size: 13px;
}
.dataTables_wrapper .dataTables_processing{
    display: inline-table;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
}
.dataTables_wrapper table tr td{
    padding: 3px 4px;
}
.dataTables_wrapper .dataTables_length{
    margin-top: 8px;
}
.uppercase{
    text-transform: uppercase;
}