.table-scrollable {
    border : none;
}
.sidebar-toggler-wrapper{
    margin-bottom: 15px !important;
}
ul.page-sidebar-menu li .title{
    display: inline-table;
    width: 150px;
}
.header.navbar .navbar-nav > li.dropdown.user .dropdown-toggle.user-toogle{
    padding: 14px 5px 8px 5px;
}
