body {
    color: #3e4d5c;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fafafa;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}

/*********************
 FONT COLOR
*********************/
.color-red { color: #e02222;}
.color-blue { color: #0da3e2;}
.color-grey { color: #555555;}
.color-green { color: #35aa47;}
.color-yellow { color: #ffb848;}
.color-purple { color: #852b99;}
.color-light-red { color: #ff5400;}
.color-light-blue { color: #bfd5fa;}
.color-light-grey { color: #fafafa;}
.color-light-green { color: #78df1d;}

/*********************
 HEADING
*********************/
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: inherit;
}
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
}

h2, h2 a {
    color: #444;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
}

h2 a:hover {
    color: #0da3e2;
    text-decoration: none;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;        
}

h3 {
    color: #222;
}

/*********************
Additonal
*********************/
.no-margin {
    margin: 0;
}
.icon-radius{
    padding: 8px 8px 7px;
    border-radius: 16px !important;
    background: #419641;
    color: #fff;
    float: right;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}
.hide {
    display: none;
}
.bold {
    font-weight:600 !important;
}
.border {
    border: 1px solid #ddd
}
.inline {
    display: inline;
}

/*********************
 BORDER RADIUS
*********************/
div, 
input, 
select, 
textarea, 
span, 
img, 
table, 
td, 
th, 
p, 
a, 
button, 
ul,
code,
pre, 
li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*********************
 Custom scrollbars for webkit browsers
*********************/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #cecece;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}




/*********************
 Override Jquery
*********************/
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
}



/*********************
 Override Bootsrap Form
*********************/
input.form-control, textarea.form-control {
    border-color: #dbdbdb;
    color: #777;
    /*    font: 14px Arial, sans-serif;*/
    border-radius: 0;
    box-shadow: none;
}
.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn {
    border-width: 0;
    padding: 7px 14px; 	
    font-size: 14px;  
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none;
}
.btn-default{
    /*    border: solid #dbdbdb 1px;*/
    background-image: linear-gradient(to bottom,#dbdbdb 0,#e0e0e0 100%);
}
.popover{
    border-top: solid 2px #419641;
    box-shadow: 3px 3px rgba(91, 91, 91, 0.2);
}



/*********************
 Override Datatables
*********************/
.dataTables_wrapper {
    padding-bottom: 10px;
}
.dataTables_wrapper .top{
    border-bottom: solid #ddd 1px;
    border-top: solid #ddd 1px;
    padding: 10px 0px;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer  {
    border-bottom: 1px solid #ddd !important;
}
.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /*    border: 1px solid #dddddd;*/
    background-color: #fff;
    margin: 10px 0 !important;
}


/*********************
 Header
*********************/
a, a:focus, a:hover, a:active {
    outline: 0;
}
.navbar-brand {
    z-index: 2;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #3f5862 !important;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 45px;
    margin-left: 0px !important;
}
.navbar-brand em{
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    color:#777;
}
.header {
    z-index: 999;
    position: relative;
    box-shadow: 0 1px 3px #ddd;
    background: #fff;
    filter: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}
.header .navbar-collapse {
    position: relative;
}
.header ul.nav {
    float: right;
    margin-right: 0;
}
.header .nav li:first-child {
    margin-left: 0;
}

.header .nav li.menu-search {
    position: relative;
    padding: 15px 0;
    -moz-transition: padding 0.3s ease-in-out;
    -webkit-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}
.header .nav li.menu-search span.sep {
    top: 10px;
    width: 1px;
    height: 31px;
    background: #eee;
    position: relative;
    margin: 0 12px 0 5px;
    display: inline-block;
}
.header .nav li.menu-search .glyphicon-search {
    color: #bbb;
    font-size: 16px;
    cursor: pointer;
}
.theme-btn {
    color: #fff;
    background: #0095d4 !important;
}
.theme-btn:hover {
    color: #fff;
}
.header .search-box {
    right: 0;
    top: 100%;
    padding: 10px;
    display: none;
    background: #fff;
    position: absolute;
    border: solid 1px #eee;
    border-top: none !important;
    margin-top: 10px;
}
.header .navbar-nav li a {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    position: relative;
    padding: 26px 16px 27px;
    border-top: solid 2px #fff;
    -moz-transition: padding 0.3s ease-in-out;
    -webkit-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}
.header .nav li.dropdown .dropdown-toggle .glyphicon-chevron-down {
    font-size: 8px;
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
.header .nav li > a:hover, .header .nav li.active > a, .header .nav li.active:hover > a {
    color: #0da3e2;
    border-radius: 0;
    text-shadow: none;
    padding-top: 26px;
    box-shadow: none !important;
    border-top: solid 2px #0da3e2;
}
.header .navbar-nav > li > a:hover, .header .navbar-nav li.active > a, .header .navbar-nav li.active:hover > a {
    color: #0da3e2 !important;
    border-top: solid 2px #0da3e2 !important;
}
@media (min-width: 992px){
    .header .nav li > a:hover, .header .nav li.active > a, .header .nav li.active:hover > a {
        background: #fcfcfc !important;
    }
}

/*********************
 Menu
*********************/
.header .navbar-btn {
    background: #0da3e2 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: "Segoe UI",Helvetica, Arial, sans-serif;
    border: 1px solid #ddd;
}
.header .dropdown-menu {
    border: none;
    box-shadow: none;
    min-width: 185px;
    border-bottom: none;
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
    border-top: solid 2px #0da3e2;
    padding: 0;
}
.header .dropdown-menu {
    border-top: solid 2px #0da3e2;
}
.header .dropdown-menu li {
    margin-left: 0;
    border-bottom: solid 1px #f5f5f5;
}
.header .nav li:first-child {
    margin-left: 0;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #eee;
    color: #333;
    filter: none;
}
.header .dropdown-menu li a {
    color: #444;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 15px !important;
    text-transform: inherit;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border: none !important;
}
.header .nav li > a:hover, .header .nav li.active > a, .header .nav li.active:hover > a {
    color: #0da3e2;
    border-radius: 0;
    text-shadow: none;
    padding-top: 26px;
    box-shadow: none !important;
    border-top: solid 2px #0da3e2;
}
.header .navbar-nav > li > a:hover, .header .navbar-nav li.active > a, .header .navbar-nav li.active:hover > a {
    color: #0da3e2 !important;
    border-top: solid 2px #0da3e2 !important;
}
.header .nav li.active .dropdown-menu li.active a {
    border: none !important;
    color: #444 !important;
    background: #f7f9fa !important;
}
.dropdown-menu[aria-labelledby="mega-menu"] {
    width: auto;
    float: left;
    width: 603px;
}
.nav-content {
    width: 100%;
    overflow: hidden;
    padding: 5px;
}
.nav-content-col {
    float: left;
    width: 33.3%;
}
h3 {
    color: #222;
}
.nav-content-col > h3 {
    font: bold 15px 'Open Sans', Arial, sans-serif;
    margin: 0 0 6px;
    text-transform: none;
    padding: 10px 10px 5px;
    border-bottom: solid 1px #f0f0f0;
}
.nav-content-col ul {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}
.header .nav-content-col li {
    padding: 0;
    border: none;
}
.header .active .nav-content-col li > a, .header .nav-content-col li > a {
    display: block;
}
@media (max-width: 992px){
    .header .dropdown-menu {
        margin-bottom: 12px;
        border-top: solid 1px #e7e7e7 !important;
    }
    .header .nav li.active .dropdown-menu li.active a {
        background: #f7f9fa !important;
    }
    .nav-content {
        padding: 0;
        width: auto;
    }
    .nav-content-col {
        float: none;
        width: auto;
    }
    .nav-content-col > h3 {
        padding: 10px 15px 5px;
        margin-bottom: 0;
    }
    .header .nav-content-col li {
        border-bottom: solid 1px #F5F5F5;
    }
}
@media (max-width: 768px){
    .header .navbar-collapse {
        max-height: 3000px;
        padding: 15px;
    }
    .navbar-collapse.in {
        overflow: inherit;
        /*         background: #F9F9F9; */
    }
    .header ul.nav {
        float: none;
        margin: 0;
    }
    .header .navbar-nav li {
        border-bottom: 1px solid #e5e5e5;
    }
    .header .nav li > a, .header .nav li > a:hover, .header .nav li.active > a, .header .nav li.active:hover > a {
        border: none !important;
        padding: 10px 15px !important;
        font-size: 14px;
    }
    .navbar-nav .dropdown-menu li:first-child, .navbar-nav .dropdown-menu li {
        margin-left: 20px;
    }
    .navbar-nav .open .dropdown-menu {
        /* background: #F9F9F9; */
        font-size: 14px;
        border-top: solid 1px #e5e5e5 !important;
    }
    .nav-content-col > h3 {
        padding: 10px 15px 5px;
        margin-bottom: 0;
    }
    .navbar-nav .open .dropdown-menu {
        /* background: #F9F9F9; */
        font-size: 14px;
        border-top: solid 1px #e5e5e5 !important;
    }
    .navbar-brand{
        line-height: 20px;
        margin-left: 0px !important;
    }
    .breadcrumbs h1 {
        margin-left: 0px !important;
    }
}
@media (max-width: 767px){
    .header .nav li > a:hover, .header .nav li.active > a, .header .nav li.active:hover > a {
        border: none;
        padding-top: 10px;
    }
    .header.navbar-default .navbar-nav > li > a:hover, .header.navbar-default .navbar-nav > .active > a, .header.navbar-default .navbar-nav > .active > a:hover, .header.navbar-default .navbar-nav > .active > a:focus {
        background: #0da3e2 !important;
        color: #fff !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        width: auto;
        margin-top: 0;
        background-color: #ffffff;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    }
    .header .nav .dropdown-menu a {
        color: inherit;
        background: none;
    }
    .header .nav .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        border: none;
        box-shadow: none;
        clear: both;
    }
    .header .search-box {
        left: 40px;
        top: inherit;
        bottom: 3px;
        padding: 5px;
        border: none;
        display: none;
        background: none;
        position: absolute;
    }
}

/*********************
 Breadcrumbs
*********************/
.breadcrumbs {
    background: #fcfcfc;
    border-top: solid 1px #f5f5f5;
    border-bottom: solid 1px #f5f5f5;
}
.breadcrumbs h1 {
    color: #555;
    font-size: 24px;
    line-height: 35px;
    margin-left: 0px;
    margin-top: 10px;
}
.breadcrumbs ul.breadcrumb {
    padding-left: 0;
    padding-right: 0;
}
.breadcrumbs ul {
    top: 10px;
    background: none;
    margin-bottom: 0;
    position: relative;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumbs li a {
    color: #0da3e2;
}
.breadcrumb>.active {
    color: #999;
}
.header.navbar{
    margin-bottom: 0px;
}
@media (max-width: 767px){
    .breadcrumbs ul {
        top: 0px;
        float: left !important;
        margin-bottom: 3px;
    }
}

/*********************
 Footer
*********************/
.footer{
    margin-top: 50px;
}