#requisition-form .form-group{
    margin-right: 0px;
    margin-left: 0px;
}
#requisition-form .remove-item{
    font-size: 15px;
}
#requisition-form .item_description{
    height: 100px;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
